#!/bin/bash

yum update -y
yum install httpd -y

cat <<EOF > /var/www/html/index.html
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<title>Welcome!</title>
    </head>
 <body>

   <h1>under construction...</h1>
   <p>...........................</p>

  </body>
</html>
EOF

systemctl enable httpd
systemctl start httpd
